<div class="container">
  <br />
  <h2 class="text-center">DELETE EMPLOYEE</h2>
  <br />
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Email</th>
          <th>DOB</th>
          <th>Address</th>
          <th>Action</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.eid }}</td>
          <td>{{ employee.eName }}</td>
          <td>{{ employee.gender }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.dob | date }}</td>
          <td>{{ employee.address }}</td>
          <td>
            <button [routerLink]="['/employees']" matRipple class="btn btn-primary btn-sm me-3  rounded-pill  example-ripple-container mat-elevation-z4">Back</button> 
            <button (click)="deleteEmployee()" matRipple class="btn btn-danger btn-sm  rounded-pill example-ripple-container mat-elevation-z4">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
